* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

    grid-template-areas:
        "sidebar header header"
        "sidebar projects announcements"
        "sidebar projects trending";

    height: 100vh;
}

.header {
    display: grid;
    padding: 25px;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "topsection"
        "userinfo";
    background: chartreuse;
}

.topsection {
    grid-area: topsection;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    background: red;
}

.userinfo {
    display: flex;
    gap: 10px;
    grid-area: userinfo;
    background: magenta;
}

.usergreeting {
    display: flex;
    gap: 30px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /* important: keeps image from stretching */
}

.sidebar {
    grid-area: sidebar;
    background: lightblue;
}

.projects {
    grid-area: projects;
    background: brown;
}

.announcements {
    grid-area: announcements;
    background: lightseagreen;
}

.trending {
    grid-area: trending;
    background: lightpink;
}
