* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
}

p {
    font-family: "Times New Roman", Times, serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

    grid-template-areas:
        "sidebar header header"
        "sidebar projects announcements"
        "sidebar projects trending";

    height: 100vh;
}

.header {
    display: grid;
    align-items: center;
    padding: 25px;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "topsection"
        "userinfo";
    background: chartreuse;
}

.topsection {
    grid-area: topsection;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    background: red;
}

.searchsection {
    display: flex;
    gap: 20px;
}

.searchicon {
    height: 35px;
    width: 40px;
}

.searchbar {
    width: 900px;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background: darkgrey;
    color: black;
    outline: none;
}

.userinfo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    grid-area: userinfo;
    background: magenta;
}

.usergreeting {
    display: flex;
    align-items: center;
    gap: 30px;
}

.userbuttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn {
    padding: 8px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s, transform 0.1s;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /* important: keeps image from stretching */
}

.sidebar {
    grid-area: sidebar;
    background: lightblue;
}

.projects {
    grid-area: projects;
    background: brown;
}

.announcements {
    grid-area: announcements;
    background: lightseagreen;
}

.trending {
    grid-area: trending;
    background: lightpink;
}
